<div class="row">
    <h2>Available Places</h2>
    <div class="col-md-4" *ngFor="let place of places">
        <div class="card mb-4">
            <img *ngIf="place.photoPath" [src]="placeService.buildImageUrl(place.photoPath)" 
                [alt]="place.title" class="img-thumbnail card-img-top"
                style="height: 200px; object-fit: cover;" />
            <div class="card-body">
                <h5 class="card-title">{{ place.title }}</h5>
                <p class="card-text" [innerHTML]="truncateHTML(place.description)">
                    <!-- {{ place.description | truncate: 100 }}... -->
                </p>
                <button *ngIf="router.url === '/places'" class="btn btn-primary btn-sm me-2"
                    [routerLink]="['/places', 'edit', place.id]">
                    Edit
                </button>
                <button *ngIf="router.url === '/places'" class="btn btn-danger btn-sm me-2" 
                    (click)="deletePlace(place.id)">
                    Delete
                </button>
                <button class="btn btn-sm btn-secondary me-2"
                    [routerLink]="['/places', 'details', place.id]">
                    Read More
                </button>
                <button *ngIf="router.url === '/guide/itinerary'" class="btn btn-success btn-sm me-2" 
                    (click)="geToItinerary(place)">
                    {{ itineraryMapping[place.id] ? 'Edit Itinerary' : 'Add Itinerary' }}
                </button>
            </div>
        </div>
    </div>
</div>